In [13]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [14]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Chokurdakh,70.6333,147.9167,43.34,44,100,13.98,RU,2022-09-19 02:33:59
1,1,Kieta,-6.2167,155.6333,81.77,83,100,6.51,PG,2022-09-19 02:33:59
2,2,Lebu,-37.6167,-73.6500,43.05,77,2,6.71,CL,2022-09-19 02:32:58
3,3,Rikitea,-23.1203,-134.9692,72.30,76,35,18.79,PF,2022-09-19 02:34:00
4,4,Elyria,41.3684,-82.1077,75.42,71,75,8.05,US,2022-09-19 02:34:00

In [15]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [16]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [23]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [28]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [34]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,1,Kieta,-6.2167,155.6333,81.77,83,100,6.51,PG,2022-09-19 02:33:59
4,4,Elyria,41.3684,-82.1077,75.42,71,75,8.05,US,2022-09-19 02:34:00
7,7,Kavieng,-2.5744,150.7967,83.16,74,100,10.71,PG,2022-09-19 02:34:01
10,10,Tessalit,20.1986,1.0114,86.76,40,97,7.83,ML,2022-09-19 02:34:02
14,14,Katsuura,35.1333,140.3000,82.18,85,74,19.66,JP,2022-09-19 02:34:04
15,15,Bengkulu,-3.8004,102.2655,81.19,71,100,2.62,ID,2022-09-19 02:34:04
17,17,Huangmei,30.1924,116.0250,86.65,46,0,9.80,CN,2022-09-19 02:34:05
20,20,Besikduzu,41.0520,39.2284,76.89,91,75,9.35,TR,2022-09-19 02:34:06
23,23,Salalah,17.0151,54.0924,78.89,83,20,4.61,OM,2022-09-19 02:34:07
27,27,West Bay,19.3667,-81.4167,84.27,78,20,4.61,KY,2022-09-19 02:34:09

In [35]:
preferred_cities_df.count()

City_ID       185
City          185
Lat           185
Lng           185
Max Temp      185
Humidity      185
Cloudiness    185
Wind Speed    185
Country       185
Date          185
dtype: int64

In [36]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
1       Kieta      PG     81.77  -6.2167  155.6333
4      Elyria      US     75.42  41.3684  -82.1077
7     Kavieng      PG     83.16  -2.5744  150.7967
10   Tessalit      ML     86.76  20.1986    1.0114
14   Katsuura      JP     82.18  35.1333  140.3000
15   Bengkulu      ID     81.19  -3.8004  102.2655
17   Huangmei      CN     86.65  30.1924  116.0250
20  Besikduzu      TR     76.89  41.0520   39.2284
23    Salalah      OM     78.89  17.0151   54.0924
27   West Bay      KY     84.27  19.3667  -81.4167

In [38]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [43]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [45]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Kieta,PG,81.77,-6.2167,155.6333,Uruna Bay Retreat
4,Elyria,US,75.42,41.3684,-82.1077,Days Inn & Suites by Wyndham Elyria
7,Kavieng,PG,83.16,-2.5744,150.7967,Nusa Island Retreat
10,Tessalit,ML,86.76,20.1986,1.0114,
14,Katsuura,JP,82.18,35.1333,140.3000,Katsuura Hotel Mikazuki
15,Bengkulu,ID,81.19,-3.8004,102.2655,Grage Hotel Bengkulu
17,Huangmei,CN,86.65,30.1924,116.0250,Tianxiachan Hotel
20,Besikduzu,TR,76.89,41.0520,39.2284,Belek Palas Hotel
23,Salalah,OM,78.89,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
27,West Bay,KY,84.27,19.3667,-81.4167,Calypso Cove

In [50]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [51]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))